@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}
form
{
  margin-top: 60px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 600px) {
  .butn{
    margin-top: 0em !important;
     width: 4em !important;
     height: 2em !important;
     margin-bottom: .5em;
     margin-left:3em;
     float:right;
  }
  .navi{
    width:100% !important;
  }
  .formone{
    align-self:center !important;
    margin-left:.1em !important;
    margin-right: .1em !important;
  }
.company1
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:.1em !important;
  height: 2em;
  font-size: small;
  width: 15em !important;
  text-align: left;
  margin-top: 0 em;
  box-shadow: 0px 0px 10px #00ADED;
  border-radius: .6cm;

}
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navi
{
  background-color:#17D059;
  color:white;
  padding: .3em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  
}

.rgt
{
  float: right;
  margin-right: 3em;
  
}
.singlel
{
  display:flex;
  margin-left: 1em;
  margin-top: .2em;
 
}
.company
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.8em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;

}
.companyselect
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.8em;
  height: 36px;
  font-size: small;
  width: 330px;
  text-align: left;
  margin-top: .3em;
  margin-right: 1em;

}

.companydrop
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.8em;
  height: 32px;
  font-size: small;
  width: 205px;
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;

}

.companyoffice
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.8em;
  height: 32px;
  font-size: small;
  width: 205px;
  text-align: left;
  margin-top: 1em;
  margin-right: 0.4em;

}
.officeimg
{
  margin-top: 1em!important;
}
.company1
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 320px;
  text-align: left;
  margin-top: 0 em;
  box-shadow: 0px 0px 10px #00ADED;
  border-radius: .6cm;

}
.company3
{
  display: inline-block;
  border-radius: .4cm;
  border-color: #00ADED;
  margin-left:.3em;
  height: 26px;
  font-size: small;
  width: 39px;
  text-align: left;
  margin-top: 1em;

}
.company5
{
  display: inline-block;
  border-radius: .4cm;
  border-color: #00ADED;
  margin-left:.001em;
  height: 26px;
  font-size: small;
  width: 39px;
  text-align: left;
  margin-top: 1em;

}
.butn
{
  display:inline;
  background-color:#00ADED ;
  color:white;
  margin-top: .1em;
  width: 15em;
  height:3em;
  margin-right: 2.2em;
   
   
}
.formtitle
{
  background-color: #00ADED;
  color:white;
  text-align: center;
  font-size: large;
  height: 2em;
  border-radius:7px 7px 7px 7px;
}
.formone
{
  float: left;
  margin-left: 2em;
  margin-top: 1.5em;
  background-color:white;
  box-shadow: 0px 0px 10px #00ADED;
  height:550px;
  width:380px;
  border-radius:6px 6px 0px 0px;
}

.allform
{
  display: inline;
  margin-top:0%;
  
}
.broadinput
{
  display: inline-block;
  border-radius:10px 10px 10px 10px;
  border-color: #00ADED;
  margin-left: 1em;
  height: 50px;
  font-size: small;
  width: 200px;
  text-align: center;
  margin-top: 1em;

}
.workingsince
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left: .4em;
  height: 32px;
  font-size: small;
  width: 99px;
  text-align: center;
  margin-top: 1em;
  margin-left:2.8em;
}
.workingsince1
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left: .4em;
  height: 32px;
  font-size: small;
  width: 99px;
  text-align: center;
  margin-top: 1em;
  margin-left:0.6em;
}
footer
{
  background-color: #00ADED;
  height: 1em;
}
.rbtn
{
  border-color:#00ADED;
  margin-left: 1em;
  float:left;
 
  
}
.rbtn1
{
  border-color:#00ADED;
  margin-left: 1.5em !important
  ;
  float:left;
  
}
label
{
  float: left;
  margin-left: 1em;
}
.boardline
{
  
  margin-right: 2em;
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;
}
.bottomline
{
  color:#32CD32;
  margin-bottom: 0em;
  height:.5em;

}
.last
{
  margin-left:1em;
  float:left;
}
.contact
{
  height:1.5em;
  width:1.5em;
}
label{
  float:left;
  margin-left:.4em;
  margin-top: 1em;
}
.company2
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.2em;
  height: 26px;
  font-size: small;
  width: 155px;
  text-align: left;
  margin-top: 1em;
}
.company4
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.2em;
  height: 26px;
  font-size: small;
  width: 145px;
  text-align: left;
  margin-top: 1em;
}

.addimg
{
  margin-top:1em;
}
.redv
{
  color:red;
}
.inp
{
  margin-top:1.5em;
  
}
radio
{
  border-color: #00ADED;
}
.contact
{
  width:2.5em;
  height:2.5em;
  margin-left: 1.3em;
}


