.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 600px) {
  .butn{
    margin-top: 0em !important;
     width: 4em !important;
     height: 2em !important;
     margin-bottom: .5em;
     margin-left:3em;
     float:right;
  }
  .navi{
    width:100% !important;
  }
  .formone{
    align-self:center !important;
    margin-left:.1em !important;
    margin-right: .1em !important;
  }
.company1
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:.1em !important;
  height: 2em;
  font-size: small;
  width: 15em !important;
  text-align: left;
  margin-top: 0 em;
  box-shadow: 0px 0px 10px #00ADED;
  border-radius: .6cm;

}
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navi
{
  background-color:#17D059;
  color:white;
  padding: .3em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  
}
nav
{
  width:100% !important;
}
.rgt
{
  float: right;
  margin-right: 3em;
  
}
.singlel
{
  display:flex;
  margin-left: 1em;
  margin-top: .2em;
 
}
.company
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.8em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;
  margin-right: 1em;

}
.company1
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 320px;
  text-align: left;
  margin-top: 0 em;
  box-shadow: 0px 0px 10px #00ADED;
  border-radius: .6cm;

}
.company3
{
  display: inline-block;
  border-radius: .4cm;
  border-color: #00ADED;
  margin-left:.3em;
  height: 26px;
  font-size: small;
  width: 39px;
  text-align: left;
  margin-top: 1em;

}
.company5
{
  display: inline-block;
  border-radius: .4cm;
  border-color: #00ADED;
  margin-left:.001em;
  height: 26px;
  font-size: small;
  width: 39px;
  text-align: left;
  margin-top: 1em;

}
.butn
{
  display:inline;
  background-color:#00ADED ;
  color:white;
  margin-top: .1em;
  width: 7em;
  height:3em;
  margin-right: 2.2em;
   
   
}
.formtitle
{
  background-color: #00ADED;
  color:white;
  text-align: center;
  font-size: large;
  height: 2em;
  border-radius:7px 7px 7px 7px;
}
.formone
{
  float: left;
  margin-left: 2em;
  margin-top: 1.5em;
  background-color:white;
  box-shadow: 0px 0px 10px #00ADED;
  height:550px;
  width:380px;
  border-radius:6px 6px 0px 0px;
}

.allform
{
  display: inline;
  margin-top:0%;
  
}
.broadinput
{
  display: inline-block;
  border-radius:10px 10px 10px 10px;
  border-color: #00ADED;
  margin-left: 1em;
  height: 50px;
  font-size: small;
  width: 200px;
  text-align: center;
  margin-top: 1em;

}
.workingsince
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left: .4em;
  height: 26px;
  font-size: small;
  width: 99px;
  text-align: center;
  margin-top: 1em;
}
footer
{
  background-color: #00ADED;
  height: 1em;
}
.rbtn
{
  border-color:#00ADED;
  margin-left: 1em;
  float:left;
 
  
}
.rbtn1
{
  border-color:#00ADED;
  margin-left: 1.5em !important
  ;
  float:left;
  
}
label
{
  float: left;
  margin-left: 1em;
}
.boardline
{
  
  margin-right: 2em;
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:2em;
  height: 26px;
  font-size: small;
  width: 200px;
  text-align: left;
  margin-top: 1em;
}
.bottomline
{
  color:#32CD32;
  margin-bottom: 0em;
  height:.5em;

}
.last
{
  margin-left:1em;
  float:left;
}
.contact
{
  height:1.5em;
  width:1.5em;
}
label{
  float:left;
  margin-left:.4em;
  margin-top: 1em;
}
.company2
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.2em;
  height: 26px;
  font-size: small;
  width: 155px;
  text-align: left;
  margin-top: 1em;
}
.company4
{
  display: inline-block;
  border-radius: 20cm;
  border-color: #00ADED;
  margin-left:0.2em;
  height: 26px;
  font-size: small;
  width: 145px;
  text-align: left;
  margin-top: 1em;
}

.addimg
{
  margin-top:1em;
}
.redv
{
  color:red;
}
.inp
{
  margin-top:1.5em;
  
}
radio
{
  border-color: #00ADED;
}
.navbar {
  display: flex;
  position: relative;
  color: white !important;
  background-color: #17d059; /*green*/
  height: 2em;
  /* padding-top: 10px; */
  padding-top: 0.3%;
  padding-left: 1.75%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100% !important;
}

.navbar_left {
  display: flex;
}
.navbar_left > img {
  height: 2.75em !important;
  object-fit: contain;
}
.navbar_left > h1 {
  font-weight: bolder;
  margin-top: 0 !important;
  margin-left: 1.75rem !important;
}
.navbar_right {
  display: flex !important;
  flex: 0.15 !important;
  margin-top: 10px;
  justify-content: flex-end !important;
  position: absolute;
  right: 0;
  top: 30px;
  margin-top: -12px !important;
}
.nav_avatar {
  /* margin-left: 20px; */
  color: white;
  font-size: 40px !important;

  margin: auto 30px !important;
  margin-top: -5% !important;
}
.grid {
  font-size: 50px !important;
  margin-top: -10% !important;
  /* padding-left: 150px; */
}
@media screen and (max-width: 600px) {
  .navbar {
    height: 40px !important;
  }
  .navbar_left > img {
    height: 1.75em !important;
    object-fit: contain;
  }
  .navbar_left > h1 {
    font-size: x-large;
    margin-top: 0 !important;
    margin-left: 1.5rem !important;
  }
  .navbar_right {
    display: flex !important;
    flex: 0.15 !important;

    padding-left: 0px !important;
    justify-content: flex-end !important;
    position: absolute;
    right: 0;
    top: 30px;
    margin-top: -15px !important;
  }
  .nav_avatar {
    font-size: 25px !important;
    /* margin-left: 20px; */
    margin: auto 15px !important;
    margin-top: -10% !important;
  }
  .grid {
    font-size: 30px !important;
    margin-top: -10% !important;
    /* padding-left: 150px; */
  }
}

